/*--common--*/

body {
    margin: 0px;
}

h1 {
    margin: 0px 0px;
    font-weight: 900;
    font-size: 2em;
}

header {
    width: auto;
    height: 6%;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(77, 161, 255, 1);
    background-size: 40%;
}

tr:nth-child(even) {
    background-color: #b1e5f2;
}

th {
    background-color: #20a9e5;
    color: white;
    text-align: left;
}

table {
    border: none;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.text_grey {
    color: rgb(139, 139, 139);
}

.highlighted {
    background-color: yellow;
}

h4 {}

/*--!common--*/



/*--header--*/
#logo {
    width: 200px;
    padding-top: 30px;
    padding-left: 8px;
}

/*--!header--*/

/*--main--*/
.container {
    width: 80%;
    max-width: 1000 px;
    margin: auto;
}

#author_name {
    color: rgb(41, 173, 230);

}

.images {
    height: 360px;
}

.text_little {
    font-size: 0.7em;
}



.list {
    padding-inline-start: 20px;
}


.col1 {
    width: 25%;
}

.col2 {
    width: 25%;
}

/*--!main--*/


/*--footer--*/
.text_image {
    margin: 0;

    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;

    text-align: center;
    width: 240px;
    height: 150px;

}

#monitor {
    background-image: url('img/monitor.jpg');
}


#graph {
    background-image: url('img/graph.jpg');
}