/*--common--*/

body {
    margin: 0px;
}

h1 {
    margin: 0px 0px;
    font-weight: 900;
    font-size: 2em;
}

header {
    width: auto;
    height: 6%;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(77, 161, 255, 1);
    background-size: 40%;
}

/*--!common--*/



/*--header--*/
#logo {
    width: 200px;
    padding-top: 30px;
    padding-left: 8px;
}

/*--!header--*/

/*--main--*/
.container {
    width: 80%;
    max-width: 1000 px;
    margin: auto;
}

.italic {
    font-style: italic;
}

.autore {
    color: rgb(139, 139, 139);
}

#author_name {
    color: rgb(41, 173, 230);
    font-weight: bolder;
}


.images {
    height: 360px;
}

.text_little {
    font-size: 0.7em;
}

.highlighted {
    background-color: yellow;
}

.list {
    padding-inline-start: 20px;
}

/*--!main--*/